.errMsg{
    color:red;
}
input.ng-untouched+.errMsg{
    display: none !important;
}
button[disabled]{
    cursor: not-allowed;
    background-color: rgba(173, 162, 202, 0.46);
}
.bisquite{
    background-color: rgba(221, 217, 231, 0.46);
}
.border-for-button{
    border:1px solid rgba(63, 57, 78, 0.46);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-right:15px;
    background-color:rgba(171, 155, 207, 0.623);
}

@media screen and (max-width:380px){
    .border-for-button{
        margin-right:8px;
    }
}

::ng-deep .mat-spinner-handler{
outline-style:none !important;
box-shadow:none !important;
border-color:transparent !important;
margin:auto !important;
outline: none !important;
}
.login-btn{
    min-height: 32px;
}