/* For Loading-Spinner */
body, html {
    height: 100%;
  } 
  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 600px;
    width: 600px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .app-loading .logo {
    width: 180px;
    height: 100px;
    background: url(./../../../assets/images/kaparaOnlineLogo.svg) center center no-repeat; 
  }
  @media screen and (max-width:991px){
    .app-loading .spinner {
        height: 400px;
        width: 400px;
      }
      .app-loading .logo {
        width: 140px;
        height: 85px;
      }
  }
  @media screen and (max-width:676px){
    .app-loading .spinner {
        height: 300px;
        width: 300px;
    }
        .app-loading .logo {
            width: 110px;
            height: 65px;
          }
      
  }
  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }